# Test Badger Maps

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/andre/miniconda3/lib/python3.9/site-packages (1.3.2)
Requirement already satisfied: pytz>=2017.3 in /home/andre/miniconda3/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/andre/miniconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /home/andre/miniconda3/lib/python3.9/site-packages (from pandas) (1.21.2)
Requirement already satisfied: six>=1.5 in /home/andre/miniconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

First we open the file and raise possible exceptions on value errors

In [9]:
import pandas as pd
from datetime import datetime

datos = pd.read_csv('Sample test file - Sheet1.csv')

datos.head()
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   First Name          9 non-null      object
 1   Last Name           9 non-null      object
 2   Street              8 non-null      object
 3   Zip                 8 non-null      object
 4   City                9 non-null      object
 5   Type                9 non-null      object
 6   Last Check-In Date  8 non-null      object
 7   Job                 9 non-null      object
 8   Phone               9 non-null      object
 9   Company             9 non-null      object
dtypes: object(10)
memory usage: 928.0+ bytes

Analizamos el archivo en busca de valores vacíos y lanzamos excepciones en caso de que haya.

In [21]:
# pandas nos permite obtener una matriz que indicat con True is un valor es NaN
matriz_nulls = datos.isnull().values


# Buscamos aquí si hay alguna fila completamente vacía
try:
    # Iteramos por las filas
    for fila in range(len(matriz_nulls)):
        # Buscamos una fila que contenga todo True
        contains_false = False
        for col in range(len(matriz_nulls[fila])):
            if matriz_nulls[fila][col] == False:
                contains_false = True
                break
            # Si una de las filas tiene todo True, lanzamos la excepción, indicando la fila que lo contine
            if not contains_false:
                raise ValueError('El archivo contiene la fila '+ str(fila) + ' vacía')
except ValueError as err:
    print(err.args)


# Aquí comprobamos si hay algún campo vacío en cualquier fila
try:
    tiene_nulls = datos.isnull().values.any()
    if tiene_nulls:
        raise ValueError('El archivo contine campos vacíos')
except ValueError as err:
    print(err.args)

# Con este código quitamos las filas que carecen de algún valor
datos.dropna(inplace = True)
datos.reset_index(inplace=True)
print(datos)

   index First Name Last Name              Street      Zip     City Type  \
0      0   Federico    García    Recogidas Street    18805  Granada    U
1      1      Ángel   Ganivet  Puerta Real Avenue    18805  Granada    U
2      3      André   Citröen       Gran Via Road    18805  Granada    D
3      4    Anselmo    Ortega             King St  DE1 3LD  Almería    A
4      5      Bjorn   Ostberg        27, Queen St  DE1 3LD  Almería    U
5      9       Paul    Hudson    Leicester Square    18005  Granada    D

  Last Check-In Date        Job          Phone      Company
0         14/01/2018    Dentist     958 419182  Badger Maps
1         06/02/2018   Salesman      917891232  Badger Maps
2           1/3/2018    Postman    971 659 123  Badger Maps
3         12/11/2017  Policeman   933 12 41 59      Wood SA
4         24/04/2018      Actor  93 1 31 21 29      Wood SA
5         24/01/2018   Salesman      953912345    Fabric SA

Customer con el check-in más reciente

In [33]:
# Primero transformamos el tipo de los datos de la columna del check in
datos['Last Check-In Date'] = pd.to_datetime(datos['Last Check-In Date'], format="%d/%m/%Y")
# Ordenamos los datos por el check in y lo guardamos en una nueva variable
ordered = datos.sort_values(by=['Last Check-In Date'], ascending = False)
ordered.reset_index(inplace=True)
# Imprimimos los resultadso
print('Los datos ordenados de más reciente a más antiguo son:')
print(ordered)
print('El cliente con el check in más reciente es:')
print(ordered.loc[0]['First Name'] + ' ' + ordered.loc[0]['Last Name'])

Los datos ordenados de más reciente a más antiguo son:
   level_0  index First Name Last Name              Street      Zip     City  \
0        4      5      Bjorn   Ostberg        27, Queen St  DE1 3LD  Almería
1        2      3      André   Citröen       Gran Via Road    18805  Granada
2        1      1      Ángel   Ganivet  Puerta Real Avenue    18805  Granada
3        5      9       Paul    Hudson    Leicester Square    18005  Granada
4        0      0   Federico    García    Recogidas Street    18805  Granada
5        3      4    Anselmo    Ortega             King St  DE1 3LD  Almería

  Type Last Check-In Date        Job          Phone      Company
0    U         2018-04-24      Actor  93 1 31 21 29      Wood SA
1    D         2018-03-01    Postman    971 659 123  Badger Maps
2    U         2018-02-06   Salesman      917891232  Badger Maps
3    D         2018-01-24   Salesman      953912345    Fabric SA
4    U         2018-01-14    Dentist     958 419182  Badger Maps
5    A         2017-11-12  Policeman   933 12 41 59      Wood SA
El cliente con el check in más reciente es:
Bjorn Ostberg

Customer con el check-in más antiguo

In [41]:
ordered = datos.sort_values(by=['Last Check-In Date'], ascending = True)
ordered.reset_index(inplace=True)
print('Los datos ordenados de más a antiguo a más reciente son:')
print(ordered)
print('El cliente con el check in más antiguo a más es:')
print(ordered.loc[0]['First Name'] + ' ' + ordered.loc[0]['Last Name'])

Los datos ordenados de más a antiguo a más reciente son:
   level_0  index First Name Last Name              Street      Zip     City  \
0        3      4    Anselmo    Ortega             King St  DE1 3LD  Almería
1        0      0   Federico    García    Recogidas Street    18805  Granada
2        5      9       Paul    Hudson    Leicester Square    18005  Granada
3        1      1      Ángel   Ganivet  Puerta Real Avenue    18805  Granada
4        2      3      André   Citröen       Gran Via Road    18805  Granada
5        4      5      Bjorn   Ostberg        27, Queen St  DE1 3LD  Almería

  Type Last Check-In Date        Job          Phone      Company
0    A         2017-11-12  Policeman   933 12 41 59      Wood SA
1    U         2018-01-14    Dentist     958 419182  Badger Maps
2    D         2018-01-24   Salesman      953912345    Fabric SA
3    U         2018-02-06   Salesman      917891232  Badger Maps
4    D         2018-03-01    Postman    971 659 123  Badger Maps
5    U         2018-04-24      Actor  93 1 31 21 29      Wood SA
El cliente con el check in más antiguo a más es:
Anselmo Ortega

Lista full name customers ordenados alfabeticamente

In [40]:
# Ordenamos los datos por primer nombre y luego por apellido
ordered = datos.sort_values(by=['First Name','Last Name'], ascending = True)
ordered.reset_index(inplace=True)
# Seleccionamos ambas columnas e imprimimos
print('Lista de los clientes ordenados alfabéticamente:')
print(ordered[['First Name','Last Name']])

Lista de los clientes ordenados alfabéticamente:
  First Name Last Name
0      André   Citröen
1    Anselmo    Ortega
2      Bjorn   Ostberg
3   Federico    García
4       Paul    Hudson
5      Ángel   Ganivet