# Test Badger Maps

In [6]:
!pip install pandas

Requirement already satisfied: pandas in /home/andre/miniconda3/lib/python3.9/site-packages (1.3.2)
Requirement already satisfied: pytz>=2017.3 in /home/andre/miniconda3/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in /home/andre/miniconda3/lib/python3.9/site-packages (from pandas) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/andre/miniconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/andre/miniconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the '/home/andre/miniconda3/bin/python3 -m pip install --upgrade pip' command.

In [7]:
import pandas as pd
from datetime import datetime

datos = pd.read_csv('Sample test file - Sheet1.csv')
pd.options.display.max_rows = 10
datos.head()

,First Name,Last Name,Street,Zip,City,Type,Last Check-In Date,Job,Phone,Company
0,Federico,García,Recogidas Street,18805,Granada,U,14/01/2018,Dentist,958 419182,Badger Maps
1,Ángel,Ganivet,Puerta Real Avenue,18805,Granada,U,06/02/2018,Salesman,917891232,Badger Maps
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,André,Citröen,Gran Via Road,18805,Granada,D,1/3/2018,Postman,971 659 123,Badger Maps
4,Anselmo,Ortega,King St,DE1 3LD,Almería,A,12/11/2017,Policeman,933 12 41 59,Wood SA

In [8]:
import sqlite3

conn = sqlite3.connect('badger.db')
conn.execute("DROP TABLE data")
conn.execute('''CREATE TABLE data
         (
         id INTEGER PRIMARY KEY,    
         first_name TEXT,
         second_name TEXT,     
         street           TEXT    NOT NULL,
         zip            TEXT     NOT NULL,
         city           TEXT     NOT NULL,
         type TEXT,
         job TEXT,
         phone TEXT,
         last_check_in_date DATETIME NOT NULL,
         company        TEXT     NOT NULL
         
         );''')

OperationalError: database is locked

In [ ]:
for index, row in datos.iterrows():
    if pd.isna(row['First Name']) and pd.isna(row['Last Name']) and pd.isna(row['Street']) and pd.isna(row['Zip']) and pd.isna(row['Type']) and pd.isna(row['City']) and pd.isna(row['Job']) and pd.isna(row['Phone']) and pd.isna(row['Street']) and pd.isna(row['Last Check-In Date']) and pd.isna(row['Company']):
        print('Fila ' + str(index)+ ' vacía')
        print(row['First Name'],row['Last Name'],row['Street'],row['Zip'],row['City'],row['Type'],row['Job'],row['Phone'],row['Last Check-In Date'],row['Company'],'\n') 
        continue
    if pd.isna(row['Street']) or pd.isna(row['Zip']) or pd.isna(row['Street']) or pd.isna(row['Last Check-In Date']) or pd.isna(row['Company']):
        print('A la fila '+ str(index) + ' Le falta un valor requerido')
        print(row['First Name'],row['Last Name'],row['Street'],row['Zip'],row['City'],row['Type'],row['Job'],row['Phone'],row['Last Check-In Date'],row['Company'],'\n')
        continue

    

    conn.execute("INSERT INTO data (first_name,second_name,street,zip,city,type,job,phone,last_check_in_date,company) VALUES (:fir,:sec,:str,:zip,:city,:type,:job,:pho,:last,:comp);",{
        'fir':row['First Name'],
        'sec':row['Last Name'],
        'str':row['Street'],
        'zip':row['Zip'],
        'city':row['City'],
        'type':row['Type'],
        'job':row['Job'],
        'pho':row['Phone'],
        'last':row['Last Check-In Date'],
        'comp':row['Company']
    }
        )

Fila 2 vacía número
nan nan nan nan nan nan nan nan nan nan

A la fila 6 Le falta un valor requerido
Markus Dupont 102, Fake Street 18005 Granada A Musician 912234223 nan Fabric SA

A la fila 7 Le falta un valor requerido
Jake Robins Street Road nan Granada D Assistant 1111111111 11/03/2018 Fabric SA

A la fila 8 Le falta un valor requerido
Lola Rivers nan 18005 Granada A CEO 958963229 21/02/2018 Fabric SA

In [ ]:
cur = conn.cursor()
cur.execute('SELECT * FROM data')
for row in cur.fetchall():
     print(row)

(1, 'Federico', 'García', 'Recogidas Street', '18805', 'Granada', 'U', 'Dentist', '958 419182', '14/01/2018', 'Badger Maps')
(2, 'Ángel', 'Ganivet', 'Puerta Real Avenue', '18805', 'Granada', 'U', 'Salesman', '917891232', '06/02/2018', 'Badger Maps')
(3, 'André', 'Citröen', 'Gran Via Road', '18805', 'Granada', 'D', 'Postman', '971 659 123', '1/3/2018', 'Badger Maps')
(4, 'Anselmo', 'Ortega', 'King St', 'DE1 3LD', 'Almería', 'A', 'Policeman', '933 12 41 59', '12/11/2017', 'Wood SA')
(5, 'Bjorn', 'Ostberg', '27, Queen St', 'DE1 3LD', 'Almería', 'U', 'Actor', '93 1 31 21 29', '24/04/2018', 'Wood SA')
(6, 'Paul', 'Hudson', 'Leicester Square', '18005', 'Granada', 'D', 'Salesman', '953912345', '24/01/2018', 'Fabric SA')