# Test Badger Maps

In [ ]:
!pip install pandas

In [1]:
import pandas as pd
from datetime import datetime

datos = pd.read_csv('Sample test file - Sheet1.csv')
pd.options.display.max_rows = 10
datos.head()

,First Name,Last Name,Street,Zip,City,Type,Last Check-In Date,Job,Phone,Company
0,Federico,García,Recogidas Street,18805,Granada,U,14/01/2018,Dentist,958 419182,Badger Maps
1,Ángel,Ganivet,Puerta Real Avenue,18805,Granada,U,06/02/2018,Salesman,917891232,Badger Maps
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,André,Citröen,Gran Via Road,18805,Granada,D,1/3/2018,Postman,971 659 123,Badger Maps
4,Anselmo,Ortega,King St,DE1 3LD,Almería,A,12/11/2017,Policeman,933 12 41 59,Wood SA

In [5]:
import sqlite3

conn = sqlite3.connect('badger.db')

conn.execute('''CREATE TABLE data
         (
         first_name TEXT,
         second_name TEXT,     
         street           TEXT    NOT NULL,
         zip            TEXT     NOT NULL,
         city           TEXT     NOT NULL,
         type TEXT,
         job TEXT,
         phone TEXT,
         last_check_in_date DATETIME NOT NULL,
         company        TEXT     NOT NULL
         
         );''')

In [18]:
for index, row in datos.iterrows():
    if pd.isna(row['First Name']) and pd.isna(row['Last Name']) and pd.isna(row['Street']) and pd.isna(row['Zip']) and pd.isna(row['Type']) and pd.isna(row['City']) and pd.isna(row['Job']) and pd.isna(row['Phone']) and pd.isna(row['Street']) and pd.isna(row['Last Check-In Date']) and pd.isna(row['Company']):
        print('Empty row number ' + str(index)) 
        continue
    if pd.isna(row['Street']) or pd.isna(row['Zip']) or pd.isna(row['Street']) and pd.isna(row['Last Check-In Date']) and pd.isna(row['Company']):
        print('Row '+ str(index) + ' Misses a required value')
        continue
    
    conn.execute("INSERT INTO data \
                 (first_name,second_name,street,zip,city,type,job,phone,last_check_in_date,company) \
      VALUES ({},{},{},{},{},{},{},{},{},{})".format(
        row['First Name'],row['Last Name'],row['Zip'],row['Zip'],row['City'],row['Type'],row['Job'],row['Phone'],row['Last Check-In Date'],row['Company']));

OperationalError: near "419182": syntax error